In [1]:
import os, ssl
import requests
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [2]:
from sqlalchemy import create_engine

In [3]:
rds_connection_string = "postgres:postgres@localhost:5432/covid-vaccine-plz"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [6]:
engine.table_names()

['citywide_table', 'statewide_table']

In [10]:
df = pd.read_sql_query('select* from citywide_table',con=engine)

In [11]:
df

,county,city,totalcountconfirmed,totalcountdeaths
0,Orange,Aliso Viejo,215,1
1,Orange,Anaheim,4792,112
2,Orange,Brea,248,5
3,Orange,Buena Park,765,6
4,Orange,Costa Mesa,865,5
...,...,...,...,...
292,Santa Barbara,COMMUNITY OF ORCUTT,138,0
293,Santa Barbara,"UNINCORPORATED AREAS of Sisquoc, Casmalia, Gar...",180,0
294,Santa Barbara,Out of County,—,1
295,Santa Barbara,Pending,130,—
296,Santa Barbara,Total,4635,32

In [22]:
a = df.loc[df.county=="San Diego"].index

In [23]:
a

Int64Index([126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151,
            152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164,
            165, 166, 167, 168, 169, 170, 171, 172],
           dtype='int64')

In [27]:
df2 = df.drop(a)

In [26]:
df

,county,city,totalcountconfirmed,totalcountdeaths
0,Orange,Aliso Viejo,215,1
1,Orange,Anaheim,4792,112
2,Orange,Brea,248,5
3,Orange,Buena Park,765,6
4,Orange,Costa Mesa,865,5
...,...,...,...,...
292,Santa Barbara,COMMUNITY OF ORCUTT,138,0
293,Santa Barbara,"UNINCORPORATED AREAS of Sisquoc, Casmalia, Gar...",180,0
294,Santa Barbara,Out of County,—,1
295,Santa Barbara,Pending,130,—
296,Santa Barbara,Total,4635,32

In [28]:
df2

,county,city,totalcountconfirmed,totalcountdeaths
0,Orange,Aliso Viejo,215,1
1,Orange,Anaheim,4792,112
2,Orange,Brea,248,5
3,Orange,Buena Park,765,6
4,Orange,Costa Mesa,865,5
...,...,...,...,...
292,Santa Barbara,COMMUNITY OF ORCUTT,138,0
293,Santa Barbara,"UNINCORPORATED AREAS of Sisquoc, Casmalia, Gar...",180,0
294,Santa Barbara,Out of County,—,1
295,Santa Barbara,Pending,130,—
296,Santa Barbara,Total,4635,32